@define-color text #cdd6f4;

@define-color surface0 rgba(28, 28, 28, 1.0);
@define-color surface1 #45475a;
@define-color surface2 #3c3836;

@define-color blue #83a598;
@define-color yellow #fabd2f;
@define-color green #b8bb26;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color purple #d3869b;

/* =============================== */
/* Universal Styling */
* {
  border: none;
  border-radius: 0px;
  font-family: 'FiraCode', monospace;
  font-size: 13px;
  min-height: 0px;
}
/* =============================== */

/* =============================== */
/* Bar Styling */
#waybar {
  background: transparent;
  color: @text;
}

tooltip {
    background: @surface0;
    border-radius: 16px;
    color: #ebdbb2;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
}
/* =============================== */

/* =============================== */
/* Main Modules */
#workspaces,
#clock,
#wireplumber,
#network,
#cpu,
#memory,
#custom-notifications {
  background-color: @surface0;
  color: @text;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
  margin-top: 10px;
  margin-bottom: 7px;
  margin-right: 10px;
}
/* =============================== */

/* =============================== */
/* Workspaces */
#workspaces {
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces * {
  font-size: 0px;
}

#workspaces button {
  background-color: @surface2;
  color: @purple;
  border-radius: 100%;
  min-height: 14px;
  min-width: 14px;
  margin: 5px 8px;
  padding: 0px;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68);
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#workspaces button.active {
  background: radial-gradient(circle, rgba(177, 98, 134, 1) 0%, rgba(167, 100, 134, 1) 12%, rgba(223, 158, 62, 1) 19%, rgba(163, 101, 134, 1) 20%, rgba(156, 103, 134, 1) 24%, rgba(172, 187, 81, 1) 36%, rgba(151, 104, 134, 1) 37%, rgba(144, 103, 133, 1) 48%, rgba(255, 255, 255, 1) 52%, rgba(140, 102, 132, 1) 52%, rgba(134, 103, 132, 1) 59%, rgba(122, 154, 97, 1) 66%, rgba(129, 104, 132, 1) 67%, rgba(126, 105, 132, 1) 68%, rgba(205, 214, 244, 1) 77%, rgba(122, 106, 133, 1) 78%, rgba(118, 105, 134, 1) 82%, rgba(154, 116, 138, 1) 83%, rgba(115, 105, 134, 1) 90%, rgba(111, 104, 134, 1) 100%);
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
  background-color: @purple;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 30%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

/* =============================== */

/* =============================== */
/* System Monitoring Modules */
#cpu,
#memory {
    color: @blue
}

#cpu {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
  padding-right: 5px;
}

#memory {
  border-radius: 0px 16px 16px 0px;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 10px;
}
/* =============================== */

/* =============================== */
/* Clock Module */
#clock {
  color: @yellow;
}
/* =============================== */

/* =============================== */
/* Network Module */
#network {
  color: @blue;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  padding-right: 10px;
}
/* =============================== */

/* =============================== */
/* Audio Module */
#wireplumber {
  color: @purple;
  border-radius: 0px;
  padding-left: 2px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
/* =============================== */

/* =============================== */
/* Notifications Module */
#custom-notifications {
  color: @purple;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 0px;
  padding-right: 1.1rem;
}
/* =============================== */
